{% extends 'base.html' %}
{% load get_image %}
{% load i18n %}

{% block title %}{% translate "Cart" %}{% endblock title %}


{% block content %}
    <div class="container container-content">
        <h2 class="content-title">{% translate "Your shopping cart" %}</h2>

        <table>
            <thead>
                <tr>
                    <th>{% translate "Product" %}</th>
                    <th>{% translate "Quantity" %}</th>
                    <th>{% translate "Remove" %}</th>
                    <th>{% translate "Unit price" %}</th>
                    <th>{% translate "Price" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            <div class="container-table">
                                <a href="{{ item.product.get_absolute_url }}">
                                    <h3 class="table-item-title">{{item.product.name}}</h3>
                                    <img src="{% get_image item.product.image %}" alt="" class="table-item-image">
                                </a>
                            </div>
                        </td>
                        <td>
                            <form action="{% url 'cart:add' item.product.pk %}" method="post">
                                {% csrf_token %}
                                <input type="number" value="{{ item.quantity }}" name="quantity" min="1" max="20">
                                <button class="btn">{% trans "update" %}</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'cart:remove' item.product.pk %}" method="post">
                                {% csrf_token %}
                                <button class="btn">{% translate "remove" %}</button>
                            </form>
                        </td>
                        <td>
                            <span class="price">{{ item.price }} {% trans "rub" %}</span>
                        </td>
                        <td>
                            <span class="price">{{ item.total_price }} {% trans "rub" %}</span>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="table-total">{% trans "Total" %}:</td>
                    <td><span class="price">{{ cart.get_total_price }} {% trans "rub" %}</span></td>
                </tr>
            </tbody>
        </table>
        <div class="container-btn">
            <a href="{% url 'shop:list' %}" class="btn">{% trans "continue shopping" %}</a>
            <a href="{% url 'order:create' %}" class="btn">{% trans "checkout" %}</a>
        </div>
    </div>
{% endblock content %}