{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load get_image %}

{% block title %}
MineShop
{% endblock title %}

{% block content %}
    <div class="container container-content">

        <h1 class="content-title">{% translate "Welcome to MineShop" %}</h1>

        <div class="content-body">
        
            <div class="categories">
                <ul>
                    <li><a href="{% url 'shop:list' %}" {% if not active_category %}class="active-category"{% endif %}>{% translate "All" %}</a></li>
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}" {% if active_category == category.name %}class="active-category"{% endif %}>{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <main class="products">
                <ul>
                    {% include "shop/products_ajax.html" with products=products %}
                </ul>
            </main>
            
            {% if popular_products %}
                <aside class="sidebar">
                    <h2 class="sidebar-title">{% translate "Popular" %}</h2>
                    <div class="sidebar-body">
                        <ul>
                            {% for product in popular_products %}
                                <li>
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="sidebar-item">
                                            <h3 class="sidebar-item-title">{{ product.name }}</h3>
                                            <img src="{% get_image product.image %}" alt="" class="sidebar-item-image">
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </aside>
            {% endif %}
            
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/list.js' %}"></script>
{% endblock scripts %}