{% load get_image %}
{% load brief %}

{% for product in products %}
    <li>
        <div class="product">
            <div class="product-image-wrap">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% get_image product.image %}" alt="" class="product-image">
                </a>
            </div>
            <div class="product-info">
                <h3 class="product-title">{{ product.name }}</h3>
                <p class="product-brief">{{ product|brief }}</p>
                <div class="product-special">
                    <span class="product-price">{{ product.price }}$</span>
                    <form action="{% url 'cart:add' product.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="1" name="quantity">
                        <input type="hidden" value="False" name="override">
                        <button type="submit" class="btn">add</button>
                    </form>
                </div>
            </div>
        </div>
    </li>
{% endfor %}